<p-table
    #dt
    [value]="data.data"
    dataKey="id"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [filterDelay]="0"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
>
    <ng-template #header>
        <tr>
            <th style="width: 4rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="nombre" style="min-width: 14rem">
                <div class="flex justify-between items-center">
                    Nombre
                    <p-sortIcon field="nombre" />
                    <p-columnFilter type="text" field="nombre" display="menu" class="ml-auto" />
                </div>
            </th>
            <th pSortableColumn="categoria" style="min-width: 14rem">
                <div class="flex justify-between items-center">
                    Categoría
                    <p-sortIcon field="categoria" />
                </div>
            </th>
            <th pSortableColumn="genero" style="min-width: 10rem">
                <div class="flex justify-between items-center">
                    Género
                    <p-sortIcon field="genero" />
                </div>
            </th>
            <th style="min-width: 14rem">Imagen</th>
            <th pSortableColumn="created_at" style="min-width: 14rem">
                <div class="flex justify-between items-center">
                    Creado en
                    <p-sortIcon field="created_at" />
                </div>
            </th>
            <th style="width: 5rem">Acciones</th>
        </tr>
    </ng-template>

    <ng-template #body let-item>
        <tr class="p-selectable-row">
            <td>
                <p-tableCheckbox [value]="item" />
            </td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.categoria }}</td>
            <td>{{ item.genero }}</td>
            <td>
                <img [src]="item.url" alt="{{ item.nombre }}" width="50" height="50" style="border-radius: 5px;" />
            </td>
            <td>{{ item.created_at }}</td>
            <td style="text-align: center">
                <p-button rounded icon="pi pi-cog" />
            </td>
        </tr>
    </ng-template>

    <ng-template #emptymessage>
        <tr>
            <td colspan="7">No se encontraron registros.</td>
        </tr>
    </ng-template>
</p-table>

